################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ASPNETCORE/.vs/ASPNETCORE/v16
/HelloWorldApp/target/
/MyLib/nbproject/private/
/MyApp/nbproject/private/
/MyLib/build/
/MyApp/build/
/MyLib/dist/
/MyApp/dist/
/Rest-Java/nbproject/private/